<center><h1><b>This is the about page</b></h1></center>

<center><img src="http://news.nationalgeographic.com/content/dam/news/2016/01/03/BookTalk%20AlexHonnold/01AlexHonnold.jpg" style="width:550px;height:450px;"></center>
<br>
<ul style="align:center;">
    <li>unordered list item no 1</li>
    <li>unordered list item no 2</li>
    <li>unordered list item no 3</li>
</ul>
<br>
<center><a href="https://completerubyonrailsdevelopercourse-vincentdohna.c9users.io">Click here to get to the Home Page!</a></center>

